/* ---------------------------------------------- */


/* ===================DEFAULT SETUP =====================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}


/* ================================================== */


/* ================ REUSEBE COMPONENT ================== */

.row {
    width: 90%;
    margin: auto;
}

#btn:hover,
#btn:active {
    background-color: #54a0ff;
    color: #fff;
    transform: translatey(-2px);
    transition: all .3s;
}

#btn {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1B9CFC;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
}


/* ============================================================= */


/* ===================== HEADER ================================ */

.header {
    height: 100vh;
}


/* navigation */

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 1.2rem;
    height: 50px;
}

.nav .logo {
    margin-right: auto;
}

.nav .logo img {
    width: 200px;
}

.nav .nav__item {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    padding: 14px 16px;
    font-weight: 550;
    height: fit-content;
}

.nav .nav__item:hover,
.nav .nav__item:active {
    color: #444;
}


/* menu bar */

.icon-bar {
    position: relative;
    display: none;
}

.nav i {
    font-size: 3.5rem;
}

.nav .dropdown {
    position: absolute;
    display: none;
    right: 0;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.808);
}

.nav .dropdown .drop__item {
    display: block;
    padding: 10px 5px;
    color: #fff;
}

.nav .dropdown .drop__item:hover,
.nav .dropdown .drop__item:active {
    background-color: #000;
}

.nav .icon-bar:hover .dropdown,
.nav .icon-bar:active .dropdown {
    display: block;
    z-index: 1;
}


/* main */

.main {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.main h1 {
    color: #50A4F0;
}

.main h1,
.main h2 {
    font-size: 4.5rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.main #btn {
    margin-top: 20px;
    display: inline-block;
    padding: 14px 25px;
}


/* unpad--bottom */

.unpad--bottom {
    font-size: 1.6rem;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
}

hr {
    margin: 35px 0px;
    border: .5px solid #ddd;
}

.unpad--bottom span {
    font-weight: 700;
    background-color: #487eb0;
    color: #fff;
    padding: 5px 15px;
    border-radius: 30px;
    margin-right: 10px;
}


/* ================================================================== */


/* ============================= INTRODUCE ============================ */

.introduce {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2rem;
    line-height: 3.3rem;
    color: #333;
    padding: 100px 0px 50px;
}

.introduce__picture {
    width: 50%;
}

.introduce__picture img {
    width: 100%;
    border-radius: 10px;
}

.introduce__main {
    width: 50%;
    padding: 30px 50px;
}

.introduce__main p {
    font-size: 4rem;
    margin-bottom: 15px;
}

.introduce strong {
    color: #273c75;
}


/* ====================================================== */


/* ======================== SECONDARY ================= */


/* .secondary__header */

.container--2 {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    line-height: 3rem;
}

.secondary__header {
    width: 560px;
    margin: auto;
    font-size: 20px;
    padding: 70px 10px 0px 0px;
    color: #333;
    padding-bottom: 90px;
}

.secondary__header .secondary__title {
    font-size: 4rem;
    margin-bottom: 15px;
    color: #000;
    text-align: center;
}


/* secondary main */

.secondary__main {
    display: flex;
    flex-wrap: wrap;
}

.s-main--left {
    border-left: 1px dashed #999;
    font-size: 1.6rem;
    width: 50%;
    color: #444;
}

.secondary__main .s-main__number {
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid #0984e3;
    line-height: 50px;
    text-align: center;
    color: #0984e3;
    font-weight: 900;
    border-radius: 50%;
    position: relative;
    transform: translatex(-50%);
    background-color: #f4f4f4;
}

.secondary__main .s-main__content {
    float: left;
    width: 80%;
}

.s-main__content .main__content__title {
    font-size: 2.5rem;
    margin: 15px 0px;
    font-style: bold;
    color: #000;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    margin: 50px 0px;
}

.s-main--right {
    width: 50%;
}

.s-main--right img {
    width: 90%;
}


/* ============================================================ */


/* ==================== mission ===================================== */

.mission {
    width: 760px;
    margin: auto;
    font-size: 2rem;
    padding: 50px;
}

.mission__header {
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
}

.mission__main {
    color: #555;
}

blockquote {
    text-align: center;
    font-size: 1.6rem;
}

blockquote .steve {
    font-size: 2.5rem;
}

blockquote div {
    color: #777;
    margin: 10px;
}


/* ================================================================= */


/*  =========================== footer ============================= */

footer {
    padding: 50px;
    text-align: center;
    color: #999;
    font-size: 1.5rem;
}

i {
    font-size: 3rem;
    color: #aaa;
    margin-bottom: 5px;
    padding: 5px;
}

.fa-facebook-square:hover,
.fa-facebook-square:active {
    color: #3867d6;
    transform: scale(1.2);
    transition: all .3s;
}

.fa-instagram:hover,
.fa-instagram:active {
    color: #ED4C67;
    transform: scale(1.2);
    transition: all .3s;
}

.fa-youtube:hover,
.fa-youtube:active {
    color: red;
    transform: scale(1.2);
    transition: all .3s;
}

.fa-sign-language {
    color: orange;
    transform: rotate(45deg);
}

.far {
    color: #000;
}


/* ========================================================== */


/* ================= MEDIA QUERY ======================== */

@media only screen and (max-width:992px) {
    /* header  */
    .row {
        width: 95%;
    }
    .nav {
        justify-content: flex-start;
    }
    .logo {
        width: 100%;
    }
    /* introduce */
    .introduce__picture {
        width: 40%;
    }
    .introduce__picture img {
        margin-top: 25px;
    }
    .introduce__main {
        width: 60%;
        padding: 10px 30px;
    }
    /* secondary  */
    .s-main--left {
        margin-left: 10px;
        width: 48%;
    }
    .s-main--right img {
        padding-top: 150px;
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    /* header  */
    .logo {
        width: 50%;
    }
    .nav__main {
        display: none;
        background-color: red;
    }
    .icon-bar {
        display: block;
        margin-left: 15px;
    }
    /* introduce  */
    .introduce__picture {
        width: 100%;
    }
    .introduce__picture img {
        width: 90%;
        margin-left: 5%;
        margin-top: 0;
    }
    .introduce__main {
        width: 100%;
    }
    /* secondary  */
    .s-main--left {
        margin-left: auto;
        width: 90%;
    }
    .s-main--right {
        display: none;
    }
    /* mission  */
    .mission {
        width: 90%;
        padding: 20px;
        margin: 20px 0px;
    }
}

@media only screen and (max-width:576px) {
    /* header */
    .row {
        width: 95%;
    }
    .btn {
        display: none;
    }
    .main h1,
    .main h2 {
        font-size: 3rem;
    }
    .unpad--bottom span {
        display: block;
        width: fit-content;
        margin: auto;
        margin-bottom: 10px;
    }
    .main {
        width: 90%;
    }
    /* introduce  */
    .introduce {
        font-size: 1.6rem;
    }
    .introduce__main {
        padding: 15px;
    }
    .introduce__main p {
        font-size: 3rem;
        margin-bottom: 15px;
    }
    /* .secondary */
    .container--2 {
        line-height: 3rem;
    }
    .secondary__header {
        width: 95%;
        padding: 50px 10px 0px 0px;
        padding-bottom: 50px;
    }
    .secondary__header .secondary__title {
        font-size: 3rem;
    }
    .secondary__header .secondary__sub {
        font-size: 1.6rem;
        margin: auto;
        padding: 0px 10px;
    }
    .s-main--left {
        margin-left: 7%;
    }
    /* mission  */
    .mission {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px 0px;
    }
}